* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
  background-color: #000d;
}
#app {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
#greeting-card {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 8em;
  color: #892;
}
#login, #sign-up {
  font-size: 48px;
}